body{
	background-color:#0a1223;
	font-family:Arial,Helvetica;
	font-size:15px;
	margin:3% 0% 15% 0%;
	padding:0%;
}

img{
	width:100%;
}

h1{
	font-family:90px;
	color:#fff;
}

h3{
	font-family:26px;
}

p{
	color:#5d5d5d;
	text-indent:15px
}

ul{
	list-style:none;
	padding:0;
}

li{
	padding:2%;
	display:inline-block;
}

Усі теги h1 - розмір шрифту(90px), колір (#fff);
Усі теги h3 - розмір шрифти(26px);
Усі теги p - колір(#5d5d5d), відступ перед стрічкою(text-indent:15px);
Список ul - стиль списку(list-style:none),внутрішній відступ(0);
Усі теги li - внутрішній відступ(2%), властивість(display) з вирівнюванням в рядку послідовно;
Блок заголовку "10 цікавих фактів про Місяць" та загальний блок з контентом зовнішні відступ зверху 15%
Загальний блок контенту зовнішній відступ зправа 5%;
Блок заголовку "10 цікавих фактів про Місяць" зовнішній відступ зліва 5% , вирівнювання по центру
Загальний блок контенту зовнішній відступ зліва 12%, зправа 12%;